:root {
  --principle-color: #382546;
}
html, body{
	margin: 0;
	padding: 0;
	background-color: #f6e8e5;
	font-family: 'Josefin Sans';
}
.vi0{visibility: hidden;}


/* Sidebar Menu */
.sidebar{
	background-color: #f2dfdb;
	height: 100vh;
	width: 20%;
	position: fixed;
	padding-top: 60px;
	font-family: 'Poppins', 'Arial', sans-serif;
	font-weight: 400;
}
.sidebar .side-section{
	margin-bottom: 30px;
}
.sidebar li{
	padding-bottom: 15px;
	list-style-type: none;
	margin-left: 60px;
	font-size: 14px;
}
.sidebar li a, .sidebar li a:hover, .sidebar li a:focus, .sidebar li a:active{
	text-decoration: none;
	color: #716765;
}
.sidebar li a.active{
	font-weight: 700;
	color: var(--principle-color);
	border-bottom: 2px solid var(--principle-color);
}

.content{
	margin-left: 20%;
}
.header{
	padding: 120px 80px;
	background-color: var(--principle-color);
	color:  #f2dfdb;
}
.header h1{
	font-family: 'Poppins';
	font-weight: 700;
}
.header p{
	margin-top: 20px;
}

.section{
	margin: 60px 40px;
}
.section .title{
	font-family: "Poppins";
	font-size: 28px;
}

.research--item{
	background-color: #f2dfdb;
	padding: 15px 20px;
	font-size: 18px;
}
.research .row{
	margin-bottom: 20px;
}


.pub ol{
	padding: 0;
}
.pub ol li{
	font-size: 18px;
}
.pub-subtitle{
	font-family: 'Poppins';
	font-size: 18px;
}

.teaching .row,
.ac--serv .row{
	margin-bottom: 30px;
}
.teaching-subtitle{
	font-size: 16px;
	font-family: 'Poppins';
	font-weight: 400;
	margin-bottom: 10px;
}
.teaching-desc{
	font-size: 20px;
	font-weight: 600;
}


.ac--serv p{
	font-size: 20px;
	font-weight: 400;
}

.awards--item{
	/*background: linear-gradient(90deg, #00C9FF 0%, #306d7b 100%);*/
	background-color: #f2dfdb;
	padding: 15px 20px;
	font-size: 18px;
	/*color: #fff;*/
}
.awards--item p{
	margin-bottom: 0;
}
.awards .row{
	margin-bottom: 20px;
}