body{
	background-color: #1c1c1e;
	color: #ffffff;
	margin: 20px;
	font-family: "montserrat";
}
h2{
	margin: 0;
	margin-bottom: 15px;
}
input{
	display: block;
	font-size: 16px;
	padding: 12px 15px;
	border: 0;
	border-radius: 10px;
	font-family: "Montserrat";
	outline: 0;
	width: 250px;
}
p{
	cursor: pointer;
	position: fixed;
}
.in2{
	display: none;
}