body{
	margin: 20px;
	margin-top: 40px;
	font-family: "Crimson Text", serif;
	background-color: #ffeec8;
}
.header{
	margin-top: 40px;
	color: #35375e;
}
.header img{
	height: 200px;
	width: 200px;
	position: relative;
	left: 100px;
	top: 50%;
	margin-top: -100px;
	z-index: 1;
}
.header .introtext{
	background-color: #ffd780;
	padding: 120px 0;
	padding-left: 200px;
}
.header .introtext h1{padding: 0; margin: 0;}
.header .introtext .title{
	display: inline-block;
	padding: 20px;
	color: #ffffff;
	background-color: #35375e;
	font-family: "Abril Fatface", sans-serif;
}
.header .introtext p{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 22px;
}