body{
	margin: 20px;
	margin-top: 40px;
	font-family: "Source Serif Pro", serif;
	background-color: #ffeec8;
}
.vi0{visibility: hidden;}
.menubar li{
	list-style-type: none;
	display: inline-block;
	font-weight: 400;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
}
.menubar li a{
	position: relative;
	color: #35375e;
	text-decoration: none;
	padding-bottom: 5px;
}
.menubar a::after {
	content: "";
	background: #35375e;
	height: 2px;
	position: absolute;
	bottom: 0;
	transition: .5s all 0.025s;
}
.menubar a::after {
  left: 100%;
  right: 0;
}
.menubar a:hover ~ a::after {
  left: 0;
  right: 100%;
}
.menubar a:hover::after {
  left: 0;
  right: 0;
}
.header{
	margin-top: 40px;
	color: #35375e;
}
.header img{
	height: 200px;
	width: 200px;
	position: relative;
	left: 100px;
	top: 50%;
	margin-top: -100px;
	z-index: 1;
}
.header .introtext{
	background-color: #ffd780;
	padding: 120px 0;
	padding-left: 200px;
}
.header .introtext h1{padding: 0; margin: 0;}
.header .introtext .title{
	display: inline-block;
	padding: 20px;
	color: #ffffff;
	background-color: #35375e;
	font-family: "Abril Fatface", sans-serif;
}
.header .introtext p{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 22px;
}