:root{
	--white-0: #ffffff;
	--white-1: #FFF7E5;
	--orange-1: #fbeadd;
	--orange-2: rgb(255, 208, 168);
	--orange-3: #FA6B48;
	--dark-1: #0F0417;
	--maroon-1: #40142B;
	/* --light-green: #707E82; */
}

html, body{
	margin: 0;
	padding: 0;
	background-color: var(--orange-1);
	color: black;
	font-family: 'Inter', 'Arial', sans-serif;
}
.sec-cnt{
	padding-top: 140px;
}

/* Buttons */
.btn-intro{
	box-shadow: none;
	background: transparent;
	border: 1px solid var(--maroon-1);
	border-radius: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 12px 30px;
	font-size: 12px;
	color: var(--maroon-1);
	font-weight: 500;
	transition: all 200ms ease-in-out;
}
.btn-intro:hover,
.btn-intro:active{
	box-shadow: none;
	background-color: var(--maroon-1);
	color: var(--white-1);
}
.btn-intro:focus{
	box-shadow: none;
}


/* Navbar */
.navbar{
	padding: 10px 0;
	background-color: rgba(255, 208, 168, 0.8);
	backdrop-filter: blur(4px);
}
.navbar-brand{
	padding: 0;
	margin: 0;
}
.navbar-nav li{
	font-size: 14px;
	margin: 0 12px;
}
.navbar-nav li a{
	text-decoration: none;
	color: var(--maroon-1);
	padding-bottom: 10px;
}
.navbar-nav li a:hover{
	border-bottom: 4px solid var(--orange-2) 
}
.navbar-toggler{
	padding: 0;
	border: 0;
}
.navbar-toggler:focus{
	box-shadow: none;
}


.section-title{
	font-weight: 700;
	font-size: 46px;
	letter-spacing: -3px;
	color: var(--maroon-1);
	position: relative;
	margin-bottom: 40px;
}
.section-title:after{
	position: absolute;
    content: '';
    height: 10px;
    bottom: -15px; 
	left: 0;
    right: 0;
	width: 60px;;
	background: var(--maroon-1);

}

.intro{
	min-height: 100vh;
	background: rgb(255,208,168);
	background: linear-gradient(0deg, rgb(251, 235, 223) 0%,  rgba(255,208,168,1) 100%);
	padding: 160px 0;
}
.intro-title{
	color: var(--maroon-1);
	font-weight: 700;
	font-size: 58px;
	letter-spacing: -3px;
}
.intro p{
	color: var(--maroon-1);
	font-size: 15px;
	margin-top: 25px;
	line-height: 26px;
	margin-bottom: 30px;
}



.research-profiles{
	margin-top: 20px;
}
.research-profiles p{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -1px;
}
.research-profiles p a{
	color: black;
	text-decoration: none;
}
.research-items p{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
}


.pub-container h4{
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	letter-spacing: -1px;
	margin-top: 40px;
}
.pub-container h4:first-child{
	margin-top: 0;
}

.teach-container .col-md-6{
	margin-bottom: 20px;
}
.teach-container .teach-item{
	background: var(--orange-2);
	padding: 10px;
	margin-bottom: 20px;
	padding: 25px 30px;
	height: 100%;
	border-radius: 15px;
	/* transition: transform 150ms ease-in-out; */
	cursor: pointer;
}

.teach-container .teach-item p{
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 0;
	color: var(--dark-1);
}

.teach-container .teach-item .timespan{
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 18px;
}

.cv-container{
	padding: 60px 0;
	padding-bottom: 80px;
}
.cv-button{
	font-size: 26px;
	font-weight: 300;
	padding: 15px 30px;
	text-decoration: none;
	color: var(--emerald-1);
	-webkit-transition: all 500ms cubic-bezier(.6,.4,0,1);
	-moz-transition: all 500ms cubic-bezier(.6,.4,0,1);
     -o-transition: all 500ms cubic-bezier(.6,.4,0,1);
	transition: all 500ms cubic-bezier(.6,.4,0,1);
	-webkit-transition-timing-function: cubic-bezier(.6,.4,0,1);
	-moz-transition-timing-function: cubic-bezier(.6,.4,0,1);
	-o-transition-timing-function: cubic-bezier(.6,.4,0,1);
	transition-timing-function: cubic-bezier(.6,.4,0,1);
	border-radius: 10px;
	background-color: var(--emerald-1);
	color: var(--white-1);
}
.cv-button:hover{
	background-color: var(--emerald-1);
	color: var(--white-1);
	text-decoration: none;
	padding: 20px 40px;
}


.contact-container{
	color: white;
	background-color: black;
	padding: 60px 0;
}
.contact-container .section-title{
	color: white;
}
.contact-container .section-title:after{
	background: white;
}
.contact-container h4{
	font-weight: 700;
}
.contact-container a, .contact-container p{
	margin-top: 20px;
	font-size: 18px;
}
.contact-container a{
	text-decoration: none;
	color: var(--emerald-1);
}




@media (max-width: 576px) {
	.sec-cnt{
		padding: 0 50px;
	}
	.navbar{
		padding: 20px 10px;
	}
	.intro{
		margin-top: 0;
	}
	.intro .container{
		padding: 0 50px;;
	}
	.navbar-nav li{
		text-align: center;
		margin: 5px 0;
	}
 }



