@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/* 
	*********************************************************
	NEW CSS CODE FOR THE CHECK WARRANTY PAGE IS AT THE BOTTOM
	*********************************************************
 */

html, body{
	height: 100%;
	font-family: 'Poppins';
	margin: 0;
}
.progress{
	border-radius: 0;
	background: none;
	height: 100%;
}
.progress-bar{
	background-color: #063b96;
}
.sr__b{visibility: hidden;}
.q2, .q3, .back{display: none;}
.full-height{
	height: 100%;
	background-color: #0b409c;
	position: relative;
}
.container_{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #311054;
	width: 100%;
}
.cnt-1{ text-align: center; padding: 0 20px; }
.cnt-1 h5{
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
}
.btn, .btn:hover, .btn:active, .btn:focus{
	padding: 10px 45px;
	border-radius: 40px;
	box-shadow: none;
}
.input_, .input_:hover, .input_:active, .input_:focus{
	border-radius: 8px;
	border: 0;
	background-color: #ffffff;
	width: 100%;
	height: auto;
	padding: 15px 25px;
	box-shadow: none;
	margin-bottom: 10px;
	outline: 0;
}
.btn__b, .btn__b:hover, .btn__b:active, .btn__b:focus{
	background-color: #fff;
	padding: 10px 30px;
	color: #0e071b;
	text-transform: uppercase;
	font-family: 'Lato';
	font-weight: 700;
	font-size: 14px;
	box-shadow: none;
}
.back, .back:hover, .back:active, .back:focus{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding :0;
	border-radius: 0;
	margin-right: 10px;
}
.error{
	text-align: left;
	color: #ffffff;
	margin-bottom: 10px;
	font-family: 'Lato';
}


.cnt-2{ text-align: center; padding: 0 30px; }
.cnt-2 h5{
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
}

.img-verify{
	margin-bottom: 20px;
}


/*
	CHECK WARRANTY CODE
*/
.switch-message{
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
	padding: 0;
	padding-bottom: 5px;
	border: 0;
	border-bottom: 2px solid #ffffff;
	background-color: transparent;
	font-family: 'Lato';
	margin-bottom: 15px;
}
button:focus {outline:0;}