
body{
	font-family: 'Magra', sans-serif;
	margin-top: 0;
}
.chat, .info{
	margin: 30px 20px;
}
.info h1{
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #2937E8;
}
.info input{
	margin-bottom: 10px;
	font-size: 18px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #9FB7C9;
	box-shadow: none;
	padding: 10px;
}
.info input:focus{
	border-color: #2937E8;
	outline: 0;
}
.info .form_submit{
	background-color: #2937E8;
	color: #FFF;
	font-weight: 700;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.header {
	margin: 0;
	text-align: center;
	padding: 30px;
	background: rgb(14,92,176);
	background: linear-gradient(0deg, rgba(14,92,176,0) 0%, rgba(41,55,224,1) 100%);

}
.header h1{
	font-size: 25px;
	font-weight: 700;
}
.header h2{
	font-size: 20px;
}
.header h2 span{
	font-weight: 700;
	font-size: 25px;
}
.header h2 img{
	height: 20px;
	width: 200px;
}

@keyframes textReveal{
	from{
		opacity: 0;
		margin-top: 40px;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}

.animate{
	animation: textReveal;
	animation-duration: 0.5s;
}
.conv-grp{
	border-bottom: 1px solid #5F6FED;
	padding-top: 20px;
}
.sp_block_2.conv-grp, ._u18, .sp_block_1{
	border:0;
}
._u18{
	border-top: 1px solid #5F6FED;
}
.conv-grp .avatar{ position: absolute; }
.conv{margin-bottom: 5px}
.conv .text{
	background-color: #F5F4F6;
	padding: 10px;
	margin-bottom: 6px;
	display: inline-block;
	margin-left: 55px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	animation: textReveal;
	animation-duration: 0.5s;
	font-size: 18px;

}
.sp_block_3 span, .sp_block_6 span{
	border: 1px solid #9FB7C9;
	padding: 10px;
	margin-bottom: 6px;
	background-color: #fff;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	-webkit-box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
	box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
}

@keyframes drawerReveal{
	from{
		transform: translateY(100%)
	}
	to{
		transform: translateY(0%)
	}
}
hr{
	border: 2px solid #bbb;
}
.drawer{
	text-align: center;
	color: #5F6FED;
	width: 100%;
	bottom: 0;
	right: 0;
	border-radius: 10px;
    padding: 15px;
    padding-top: 0;
    animation: drawerReveal;
    animation-duration: 1s;
}
.drawer .option{
	border: 2px solid transparent;
	padding: 10px 0;
	background-color: #F5F4F6;
	width: 45%;
	display: inline-block;
	color: #1c1c1e;
	border-radius: 10px;
	margin-bottom: 10px;
	transition: all 200ms;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 18px;

}
.drawer .option.selected{
	border: 2px solid #2937E8;
}
.proceed{
	color: #7585DC;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	padding: 20px 10px;
	background-color: #2937E8;
	text-align: center;
	border-radius: 10px;
}
.sub_option {
	margin-top: 5px;
}
.sub_option .col{
	padding: 10px 0;
}
.sub_option .option{
	margin: 0;
	padding: 5px 0;
}
.block_1, .block_2, .block_3, .block_4,  .block_5, .block_6, .block_7, .block_8,
.sp_drawer_1,
.sp_block_2, .sp_block_3, .sp_block_4, .sp_block_5, .sp_block_6, .sp_block_1,
._u18, .info, .close_mini, .temperature{
	display: none;
}
.sp_drawer_1{
	margin-top: 0;
}
.sp_block_1{
	animation: textReveal;
	animation-duration: 0.5s;
}

.sp_block_1 .col-6 p{
	font-size: 12px;
	margin-top: 5px;
}
.second_slide{
	text-decoration: underline;
}
.sp_drawer_1{
	padding-bottom: 0;
	margin-bottom: 0;
}

.sp_block_3{
	border: 0;
}
.sp_block_3, .sp_block_6{
	color: #1c1c1e;
}
.sp_block_6 .conv,
.sp_block_3 .conv,
.sp_block_4 .conv,
.sp_block_5 .conv{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
}
.sp_block_3 .row, .sp_block_4 .row, .sp_block_5 .row, .sp_block_5 .row{
	margin-bottom: 10px;
}
.sp_block_3 p, .sp_block_4 p, .sp_block_5 p, .sp_block_6 p{
	font-size: 18px;
	font-weight: 700;
}

.sp_block_5 .container{
	margin: 20px;
}
.sp_block_4 .grad p,
.sp_block_6 .grad p{text-align: center;}

.sp_block_4 .grad, .sp_block_6 .grad{
	padding: 50px;
	background: rgb(14,92,176);
	background: linear-gradient(35deg, rgba(14,92,176,0.5) 0%, rgba(140,149,195,0) 100%);
	border-radius: 10px;
}

.sub_option .selected{
	font-weight: bold;
}

.rangeslider__fill{
	background: #2937E8;
}
.rangeslider--horizontal{
	height: 10px;
}
.rangeslider__handle{
	height: 20px;
	width: 20px;
}
.rangeslider--horizontal .rangeslider__handle{
	top: -5px;
}

.temperature p{
	margin: 0 !important;
}

.response{
	font-family: "Montserrat";
}
.response .header{
	background-color: #E0ECDE;
}
.response .header h1{
	font-weight: 700;
	color: #205072;
}




