
body{
	font-family: 'Magra', sans-serif;
	margin-top: 0;
}
.chat{
	margin: 30px 20px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.header {
	margin: 0;
	color: #5F6FED;
	text-align: center;
	padding: 30px;
	background: rgb(95,111,237);
	background: linear-gradient(180deg, rgba(95,111,237,0.6) 0%, rgba(140,149,195,0) 100%);
}
.header h1{
	padding-top: 30px;
	font-size: 25px;
}
.header h2{
	font-size: 20px;
}

@keyframes textReveal{
	from{
		opacity: 0;
		margin-top: 40px;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}

.animate{
	animation: textReveal;
	animation-duration: 0.5s;
}
.conv-grp{
	border-bottom: 1px solid #5F6FED;
	padding-top: 20px;
}
.sp_block_2.conv-grp, ._u18, .sp_block_1{
	border:0;
}
._u18{
	border-top: 1px solid #5F6FED;
}
.conv-grp .avatar{ position: absolute; }
.conv{margin-bottom: 5px}
.conv .text{
	border: 1px solid #9FB7C9;
	padding: 10px;
	margin-bottom: 6px;
	display: inline-block;
	margin-left: 55px;
	background-color: #fff;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	-webkit-box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
	-moz-box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
	box-shadow: 0px 7px 15px -5px rgba(150,150,150,0.5);
	animation: textReveal;
	animation-duration: 0.5s;

}

@keyframes drawerReveal{
	from{
		transform: translateY(100%)
	}
	to{
		transform: translateY(0%)
	}
}
hr{
	border: 2px solid #bbb;
}
.drawer{
	text-align: center;
	color: #5F6FED;
	width: 100%;
	bottom: 0;
	right: 0;
	border-radius: 10px;
    padding: 15px;
    padding-top: 0;
    animation: drawerReveal;
    animation-duration: 1s;
}
.drawer .option{
	padding: 10px 0;
	background-color: #fff;
	width: 45%;
	display: inline-block;
	color: #1c1c1e;
	border: 1px solid #9FB7C9;
	/*padding: 15px 5px;*/
	border-radius: 10px;
	margin-bottom: 10px;
	transition: all 200ms;
	margin-right: 5px;
	margin-top: 5px;

}
.drawer .option.selected{
	background-color: #ffffff;
	color: #7585DC;
	border: 2px solid #7585DC;
}
.proceed{
	color: #7585DC;
	color: #ffffff;
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	padding: 20px 10px;
	background-color: #5F6FED;
	text-align: center;
	border-radius: 10px;
}
.sub_option {
	margin-top: 5px;
}
.sub_option .col{
	padding: 10px 0;
}
.sub_option .option{
	margin: 0;
	padding: 5px 0;
}

.block_2, .block_3, .block_4,  .block_5, .block_6, .block_7, .block_8,
.sp_drawer_1,
.sp_block_2, .sp_block_3, .sp_block_4, .sp_block_5, .sp_block_1,
._u18{
	display: none;
}

.sp_drawer_1{
	margin-top: 0;
}
.sp_block_1{
	animation: textReveal;
	animation-duration: 0.5s;
}

.sp_block_1 .col-6 p{
	font-size: 12px;
	margin-top: 5px;
}
.second_slide{
	text-decoration: underline;
}
.sp_drawer_1{
	padding-bottom: 0;
	margin-bottom: 0;
}
.sp_block_3{
	color: #1c1c1e;
}
.sp_block_3 .row, .sp_block_4 .row, .sp_block_5 .row{
	margin-bottom: 10px;
}
.sp_block_3 p, .sp_block_4 p, .sp_block_5 p{
	font-size: 18px;
	font-weight: 700;
}

.sp_block_5{
	padding: 20px;
}
.sp_block_5 .grad p{text-align: center;}

.sp_block_5 .grad{
	padding: 50px;
	background: rgb(14,92,176);
	background: linear-gradient(35deg, rgba(14,92,176,0.5) 0%, rgba(140,149,195,0) 100%);
	border-radius: 10px;
}
.sub_option .selected{
	font-weight: bold;
}