@keyframes drawerReveal{
	from{
		transform: translateY(100%)
	}
	to{
		transform: translateY(0%)
	}
}
hr{
	border: 2px solid #bbb;
}

.navbar{
	background-color: #035AA7;
	padding: 20px;
}
.navbar-brand img{
	height: 25px;
	margin-left: 10px;
}
.navbar-toggler{
	margin-right: 10px;
}
.navbar-nav .nav-link{
	font-size: 16px;
	color: #ffffff;
	padding: 10px 0;
	text-align: right;
}
.sr-only{
	border: 0;
}
.nav-item{
	color: #FFF;
}
.nav-item.active{
	font-weight: 700;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Magra', sans-serif;
	background-color: #035AA7;
}

.full-height{
	height: 100%;
	background-color: #035AA7;
}
.screen_1{
    background-image: url(../bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: #fff;
}
.screen_1 .cont_1{margin-top: 20px;}
.screen_1 a, .screen_1 a:active,  .screen_1 a:focus, .screen_1 a:hover{
	text-decoration: none;
	color: #ffffff;
}
.screen_1 .col-4{
	border-radius: 10px;
	transition: all 300ms;
	padding: 10px; 
}
.screen_1 .col-4 img{
	height: 50%;
	width: 50%;
}
.screen_1 .col-4:hover{
	background-color: rgba(255,255,255,0.2);
}

.screen_1 .corona_detail{
	left: 0;
	right: 0;
	padding: 10px;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,108,188, 0.8);
	color: #ffffff;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	animation: drawerReveal 1s ease;-webkit-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.1);
	box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.1);

}
.screen_1 .corona_detail p{
	font-size: 14px;
	opacity: 0.7;
}

.screen_1 .corona_detail_icons{
	margin-bottom: 10px;
}
.screen_1 .corona_detail_icons img{
	height: 40px;
	width: 40px;
}
.screen_1 .corona_detail_icons .col-4:nth-child(2){
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.screen_1 .corona_detail span img{
	height: 30px;
	width: 30px;
}
.screen_1 .move_down{
	font-size: 14px !important;
	margin-bottom: 0;
}

.screen_2 .search_bar{padding: 40px; padding-bottom: 0;}
.screen_2 .search_bar input{
	border: 0;
	border-bottom: 2px solid #ffffff;
	background-color: transparent;
	font-size: 18px; 
	padding: 5px 0;
	width: 100%;
	outline: 0;
	color: #ffffff;
	opacity: 0.5;
	transition: all 300ms;
}
.screen_2 .search_bar input:active,
.screen_2 .search_bar input:focus{
	opacity: 1;
}
.screen_2 .container .col-6{
	transition: all 300ms;
}
.screen_2 .container{
	overflow-y: auto;
	color: #fff;
	margin-top: 40px;
	text-align: center;
}
.screen_2 .container .row{
	margin-top: 10px;
}
.screen_2 .container .row p{
	margin-top: 10px;
	font-size: 18px;
}
.screen_2 .container svg{
	height: 60px;
	width: 60px;
}
.screen_2 .info_drawer{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	display: none;
	padding: 20px;
	padding-top: 20px;
	width: 100%;
	background-color: #006CBC;
	color: #ffffff;
	position: absolute;
	bottom: -100%;
	animation: drawerReveal 1s;
	-webkit-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);
	box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);

}
.screen_2 .info_drawer ul{
	padding: 20px;
	font-size: 18px;
	max-height: 250px;
	overflow-y: auto;
}
.screen_2 .info_drawer img{
	height: 40px;
	width: 40px;
}
.screen_2 .info_drawer_close{
	height: 30px !important;
	width: 30px !important;
	text-align: right;
	position: absolute;
	right: 0;
	margin-right: 20px;
}

.screen_2 .disabled{
	pointer-events: none;
	opacity: 0.5;
}
.screen_2 .learn_more{
	position: absolute;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	padding: 0 0 30px 0;
	opacity: 0.5;
}
.screen_2 .learn_more p{
	padding: 0;
	margin: 0;
	font-size: 14px !important;
}
.screen_2 .learn_more img{
	height: 30px;
	width: 30px;
}




@keyframes slideFromRight{
	from{
		transform: translateX(100%)
	}
	to{
		transform: translateX(0%)
	}
}

@keyframes slideFromLeft{
	from{
		transform: translateX(-100%)
	}
	to{
		transform: translateX(0%)
	}
}

.screen_3{color: #fff;}
.screen_3 .col {
	background-color: #1668b2;
	color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	margin: 5px 20px;
	text-align: center;
}
.screen_3 .col p{
	margin: 0;
}

.screen_3 .search_bar{padding: 40px; padding-bottom: 20px;}
.screen_3 .search_bar input{
	border: 0;
	border-bottom: 2px solid #ffffff;
	background-color: transparent;
	font-size: 14px; 
	padding: 5px 0;
	width: 100%;
	outline: 0;
	color: #ffffff;
	opacity: 0.5;
	transition: all 300ms;
}
.screen_3 .search_bar ::-webkit-input-placeholder,
.screen_2 ::-webkit-input-placeholder{ /* Edge */
  color: #ffffff;
}
.screen_3 .search_bar ::-ms-input-placeholder,
.screen_2 ::-ms-input-placeholder{ /* Internet Explorer 10-11 */
  color: #ffffff;
}
.screen_3 .search_bar ::placeholder,
.screen_2 ::placeholder{
  color: #ffffff;
}
.screen_3 .search_bar input:active,
.screen_3 .search_bar input:focus{
	opacity: 1;
}

.screen_3 .header{
	margin-bottom: 20px;
	text-align: center;
}
.screen_3 .header h1{
	color: #ffffff;
	font-size: 22px;
	padding: 10px 0 5px 0;
	font-weight: 700;
}
.screen_3 .header p{font-size: 22px;}
.screen_3 .city{text-align: center;}
.screen_3 .city span{
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.1);
}
.screen_3 .division{
	padding: 0 40px;
}

@keyframes drawerReveal{
	from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(0%)
	}
}
@keyframes drawerHide{
	from{
		transform: translateY(0%);
	}
	to{
		
		transform: translateY(100%);
	}
}


.screen_3 .drawer{
	font-family: "Lato";
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 10px;
	width: 100%;
	background-color: #42b3ff;
	color: #ffffff;
	position: absolute;
	display: none;
	bottom: -200%;
	height: 640px;
	animation: drawerReveal 0.5s ease;
	-webkit-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);
	box-shadow: 0px -13px 18px 0px rgba(0,0,0,0.17);

}
.screen_3 .drawer ._close{text-align: right;}

.screen_3 .drawer h1{
	font-weight: 700;
}
.screen_3 .drawer p{
	margin: 0;
	padding: 10px;
	font-size: 18px;
}
.screen_3 .drawer img{
	height: 22px;
	width: 22px;
	margin-right: 10px;
}
.screen_3 .drawer .info{
	overflow-y: auto;
}

.screen_3 table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed ;
    width: 100%;
    margin-top: 20px;
}
.screen_3  table td, table th {
    border: 1px solid rgba(255,255,255,0.3);
}
.screen_3 table tr td{
	padding: 20px;
	font-size: 18px;
}
.screen_3 table tr:first-child td {
    border-top: 0;
}
.screen_3 table tr:last-child td {
    border-bottom: 0;
}
.screen_3 table tr td:first-child,
.screen_3 table tr th:first-child {
    border-left: 0;
}
.screen_3 table tr td:last-child,
.screen_3 table tr th:last-child {
    border-right: 0;
}
.screen_3 .drawer .graph{
	margin: 20px auto;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 0;
	font-family: "Magra";
}
.screen_3 .drawer .graph div{
	background-color: #316495;
	width: 50px;
	min-height: 1px;
	display: inline-block;
}

.screen_3 .drawer .info{
	border-top: 1px solid #fff;
	margin: 0 auto;
	overflow-y: auto;
	height: 200px;
}
.screen_3 .drawer .receive_update_btn,
.screen_3 .drawer .weekly_update_form button{
	background-color: #80d25b;
	text-align: center;
	color: #fff;
	padding: 10px;
	border: 0;
	border-radius: 25px;
	font-size: 15px;
	padding: 15px 30px;
	margin-top: 10px;
}
.screen_3 .weekly_update{
	display:none;
}
.screen_3 .weekly_update_message{
	display: none;
}
.screen_3 .weekly_update_form{
	background-color: #fff;
	padding: 30px 20px;
	border-radius: 10px;
	margin: 40px 60px;
	font-family: "Magra";
}
.screen_3 .weekly_update_form input[type="text"],
.screen_3 .weekly_update_form input[type="tel"]{
	border: 0;
	border-bottom: 1px solid grey;
	width: 100%;
	padding: 5px 0;
	font-size: 18px;
}
.screen_3 .weekly_update_form input:first-child{margin-bottom: 10px;}
.screen_3 .drawer .weekly_update_form button{margin-top: 20px;}
.screen_3 .weekly_update{
	position: absolute;
	top: 46px;

}