@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');
html {
    height: 100%;
}
body {
	font-family: 'Barlow', 'Arial', 'Helvetica', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #c644fc;
	background: -webkit-gradient(linear, left top, left bottom, from(#EF4DB6), to(#C643FC));
    background: -moz-linear-gradient(top, #fff, #cbccc8);

}
.load-hidden{
	/*visibility: hidden;*/
}
.container{
	color: #ffffff;
    width: 100%;
}
.cnt-1{
	text-align: center;
}
.cnt-1 h5{
	font-weight: 400;
	margin-bottom: 20px;
}
.btn-def, .btn-def:hover, .btn-def:active{
	background-color: #fff;
	color: #c644fc;
	font-weight: 700;
	padding: 10px 30px;
	font-size: 22px;
	border: 0px;
	border-radius: .25rem;
}
.link-und, .link-und:hover, .link-und:active{
	color: #fff;
	border-bottom: 2px solid #fff;
	text-decoration: none;
}
.cnt-2{
	padding-left: 40px;
	padding-right: 40px;
}
.cnt-2 h5{ margin-bottom: 20px; }
.cnt-2 .form-control,
.cnt-2 .form-control:hover,
.cnt-2 .form-control:focus,
.cnt-2 .form-control:active{
	background-color:#fff;
	border: 0;
	font-size: 20px;
}
.cnt-2 .btn-default{
	background-color: #42275a;
	color: #fff;
	border: 0;
	font-size: 20px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}

.placeholder-helper{
    position:absolute;
    font-size: 18px;
    top: -28px;
    font-weight: 700;
    margin-bottom: 5px;
    transition: color .2s ease-in;
}